obj
bin
_ReSharper*
*.csproj.user
*.ReSharper.user
*.ReSharper
*.user
*.suo
*.cache
~$*
*~
*.log
*/NUnit*/tools
*/NhibernateProfiler*/tools
packages
/TestStack.FluentMVCTesting.Example/App_Data
.vs/config/applicationhost.config
.vs/TestStack.FluentMVCTesting/v15/sqlite3/storage.ide
