obj
bin
_ReSharper*
*.csproj.user
*.ReSharper.user
*.ReSharper
*.user
*.suo
*.cache
~$*
*~
*.log
*/NUnit*/tools
*/NhibernateProfiler*/tools
packages
*.DotSettings
/TestStack.FluentMVCTesting.Example/App_Data
